build --enable_platform_specific_config

build:windows --cxxopt=/std:c++17
build:windows --host_cxxopt=/std:c++17
build:linux --cxxopt=-std=c++17
build:linux --host_cxxopt=-std=c++17

# Needed for rules_haskell.
build:windows --crosstool_top=@rules_haskell_ghc_windows_amd64//:cc_toolchain
