# Ignore user vscode preferences.
.vscode/*
# Enable tasks to be checked in so that we can supply the build task.
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/build.sh

*.code-workspace

# Ignore artifacts from nix-build.
result
src/result

# Ignore cmake artifacts.
cmake_out/

# Ignore artifacts from the docker build scripts.
docker_out/

# Let's not take our installed dependencies with us!
node_modules/
dist/
package-lock.json
