# Ignore user vscode preferences.
.vscode/*
# Enable tasks to be checked in so that we can supply the build task.
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/build.sh

*.code-workspace

# Let's not take our installed dependencies with us!
node_modules/
dist/
package-lock.json
yarn-error.log

# Ignore all Bazel build output directories
bazel-*