# Ignore user vscode preferences.
.vscode/*
# Enable tasks to be checked in so that we can supply the build task.
!.vscode/tasks.json

*.code-workspace

# Ignore artifacts from nix-build.
result
src/result

# Ignore cmake artifacts.
cmake_out/

