build --enable_platform_specific_config

# A few timeouts have been experienced when building over CI.
build --experimental_scale_timeouts=2.0

build:windows --cxxopt=/std:c++17
build:asan --cxxopt="-fsanitize=address"
build:asan --linkopt="-fsanitize=address"
build:windows --features=static_link_msvcrt

build:windows --host_crosstool_top=@rules_haskell_ghc_windows_amd64//:cc_toolchain

build:linux --cxxopt=-std=c++17
build:linux --linkopt=-pthread
build:linux --repo_env=CC=clang
build:linux --cxxopt=-fPIC
