build --enable_platform_specific_config

build:windows --cxxopt=/std:c++17
build:windows --features=static_link_msvcrt

build:windows --host_crosstool_top=@rules_haskell_ghc_windows_amd64//:cc_toolchain

build:linux --cxxopt=-std=c++17
#build:linux --incompatible_linkopts_to_linklibs
build:linux --linkopt=-pthread
build:linux --action_env=BAZEL_LINKLIBS=-l%:libstdc++.a:-lm:-ldl
build:linux --action_env=BAZEL_LINKOPTS=-static-libgcc
build:linux --repo_env=CC=clang
